
body{

    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.body
{
    display: flex ;
    align-content: flex-start ;
    flex-wrap: wrap ;
    background-color: #ececea ;

}

.tete
{

    width: 100% ;
    height: 80px ;
    display: flex ;
    background-color: #3c989e ;
}
.accueille
{
    display: flex ;
    align-items: center ;
    width: 50% ;

}
.accueille1
{
    margin-top: 15px ;
    margin-left: 40px ;
}
.accueille2
{
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 40px;
    width: 100px ;
    border-radius : 5px;
}
a
{

    text-decoration:none ;
    color: rgb(255, 255, 255);
}

.connection
{
    display: flex ;
    align-items: center ;
    justify-content: flex-end ;
    width: 50% ;
}
.accueille3
{
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 40px;
    width: 100px ;
    border-radius : 15px;
    background: #5db5a4 ;
    margin-right: 40px;
}

.nav1
{
    width: 15% ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    margin-top: 2px ;
    background-color: #5db5a4 ;
}
.boutonvan1
{
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 40px;
    width: 100px ;
    border-radius : 5px;
    border-radius : 15px;
    background: #3c989e ;
    margin-top: 20px ;
}
.corp
{
    width: 70% ;
    min-height: 90vh ;
    display: flex ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
.corp a{
    color: #454c5b ;
}
.elemen
{

    width: 250px ;
    height: 150px ;
    margin: 2px 10px 0px 5px ;
    box-shadow: 0px 3px 1px 0px rgba(145, 127, 127, 1);
    background-color: #5ab7bd;
}
.soustitre{
    height: 100px ;
    border-bottom: 1px solid  #79818b ;   
    display: flex ;
    align-items: center ;
}
.dernierPost{
    height: 50px ;
    display: flex ;
    align-items: center ;
}
.dernierPost:hover{
    background-color:  #b2d9dc ;
}
.soustitre:hover{
    background-color:  #b2d9dc ;
}

.titre
{    
    width: 100% ;
    height: 40px ; 
    padding-bottom: 20px ;   
}
.sujet{
    width: 99% ;
    margin: auto ;
    height: 40px ;  
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-wrap: wrap ;
    border-bottom: 2px solid   #79818b ;  
    background-color: #5ab7bd;
    margin-bottom: 5px;
}
.sujet:hover{
    border-bottom: 0px solid  #79818b ;  
}
.creatSujet{
    background-color: #5ab7bd;     
    border-radius: 10px;
}
.creatSujet:hover{
    background-color: #79c3c8;
}
.posts{ 
    width: 80% ;
    display: flex ;
    flex-direction: column ;   
    align-content:   center ;
    margin: auto ;
}
.post {
    min-height: 40px ;
    min-width: 400px ;
    border: 1px solid  #79818b ;
}
.titre h2{
    color: #24272e ;
    font-size: 1.3em ;
    font-weight: normal;
} 
.titre h3{
    color: #24272e ;
    font-size: 1em ;
    font-weight: normal;
} 
.nav2
{
    width: 15% ;          
    background-color: #5db5a4 ;
    margin-top: 2px;
}
.recher{

}
.pied
{
    width: 100% ;
    height: 25px;
    display: flex ;
    align-items: center ;
    justify-content: space-around ;

}




.form  input{  
    width:150px;   
    border-radius:15px;  
    height:15px; 
    margin-left: 20px ;

}




