    
body{

    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.body
{
    display: flex ;
    align-content: flex-start ;
    flex-wrap: wrap ;
}

.tete
{   
    width: 100% ;
    height: 100px ;
    display: flex ;
    align-items:  center ;
}
.logo {
    width: 50% ;
}
.tete a {

    margin-top: 30px ;
    margin-left: 15px;
}
.recherche {
    width: 50% ;
    display: flex ;
    justify-content: flex-end ;
    margin-right: 20px ;
}
.recherche input {
    width: 300px ;
    height: 25px ;
    border-radius: 10px ;

}
.nav1
{
    width: 25% ;
    min-height: 90vh ;
    display: flex ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
.nav1Bbo1{
    width: 100% ;
    height: 40%;
    display: flex ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    justify-content: center ;
    background-color: #34495E ;
}
.profil{
    width: 90% ;
    height: 60%;
    border-bottom: 2px solid #999999;
}
.conect{
    width: 90% ;
    height: 40%;
    display: flex ;
    align-items: center ;
    justify-content: space-around ;

}
.accueille3 {
    width: 120px ;
    height: 25px ;
    border: 1px solid #999999;
    border-radius: 10px ;
}
.accueille3 a {
    display: block ;
    color: #cccccc;
    margin-left: 20px;
    margin-top: 2px ;
    text-decoration: none
}
.nav1Bbo2{
    margin-top: 2px ;
    width: 100% ;
    height: 60%;
    display: flex ;
    flex-direction: column ;
    align-items: center;
    background-color: #34495E ;
}
.nav1Bbo2 a {
    color: #cccccc;
    text-decoration: none
}
.boutonvan1
{
    margin-top: 10px ;
    height: 70px;
    width: 85% ;
    border-bottom: 2px solid #999999;
}
.boutonvan1 a {
    display: block ;
    margin-left: 20px;
    margin-top: 30px;
}
.nav2
{
    width: 75% ;
    display: flex ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}

.bar1
{   width: 98% ; 
    height: 70px ;
    margin-left: 8px ;
    background-color: #E6E6E6 ;        
}
.corpPrincipal{
    display: flex ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    width: 100% ;
    min-height: 80vh ;
}
.corpConten{
    width: 220px ;
    height: 280px ;
    margin-top: 40px ;
    margin-left: 60px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-content: flex-start ;
    background-color: #E6E6E6 ;
}
.corpConten a{
    color: #5e5e5e;
    text-decoration: none ; 
}
.nomSoucategory {   
    border-bottom: 2px solid #999999;
    width: 90% ;
    height: 60% ;
}
.descriptionSoucat {

    width: 90% ;
    height: 40% ;
}

.titre
{    
    width: 100% ;
    margin-left: 20px ;
    height: 40px ; 
    padding-bottom: 20px ;   
}
.nonCategory {
    display: block ;
    margin-top: 70% ;
}
.descriptionCategory{
    display: block ;
    margin-top: 10px ;
}

.posts{ 
    width: 80% ;
    display: flex ;
    flex-direction: column ;   
    align-content:   center ;
    margin: auto ;
}
.post {
    min-height: 40px ;
    min-width: 400px ;
    padding-left: 20px;
    border: 1px solid  #79818b ;
}
.sujet{
    width: 99% ;
    margin: auto ;
    height: 40px ;  
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-wrap: wrap ;
    border-bottom: 2px solid   #79818b ;  
    background-color: #E4E0E0;
    margin-bottom: 5px;
}
.sujet:hover{
    border-bottom: 0px solid  #79818b ;  
}
.creatSujet{
    height: 200px;
    margin-left: 20px;
    border-radius: 10px;
}
a{
    text-decoration: none ; 
}

/*.accueille
{
    display: flex ;
    align-items: center ;
    width: 50% ;

}
.accueille1
{
    margin-top: 15px ;
    margin-left: 40px ;
}
.accueille2
{
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 40px;
    width: 100px ;
    border-radius : 5px;
}
a
{

    text-decoration:none ;
    color: rgb(255, 255, 255);
}

.connection
{
    display: flex ;
    align-items: center ;
    justify-content: flex-end ;
    width: 50% ;
}
.accueille3
{
    display: flex ;
    align-items: center ;
    justify-content: center;
    height: 40px;
    width: 100px ;
    border-radius : 15px;
    background: #5db5a4 ;
    margin-right: 40px;
}




.corp a{
    color: #454c5b ;
}
.elemen
{

    width: 250px ;
    height: 150px ;
    margin: 2px 10px 0px 5px ;
    box-shadow: 0px 3px 1px 0px rgba(145, 127, 127, 1);
    background-color: #5ab7bd;
}
.soustitre{
    height: 100px ;
    border-bottom: 1px solid  #79818b ;   
    display: flex ;
    padding-left: 20px;
    align-items: center ;
}
.dernierPost{
    height: 50px ;
    display: flex ;
    padding-left: 20px;
    align-items: center ;
}
.dernierPost:hover{
    background-color:  #b2d9dc ;
}
.soustitre:hover{
    background-color:  #b2d9dc ;
}

.titre
{    
    width: 100% ;
    margin-left: 20px ;
    height: 40px ; 
    padding-bottom: 20px ;   
}


.titre h2{
    color: #24272e ;
    font-size: 1.3em ;
    font-weight: normal;
} 
.titre h3{
    color: #24272e ;
    font-size: 1em ;
    font-weight: normal;
} 

.recher{

}
.pied
{
    width: 100% ;
    height: 25px;
    display: flex ;
    align-items: center ;
    justify-content: space-around ;

}




.form  input{  
    width:150px;   
    border-radius:15px;  
    height:15px; 
    margin-left: 20px ;

}*/




